---
import { getLocalePaths, LOCALES } from "@/i18n"
---

<div class="language-switcher px-6 lg:px-0">
  <select
    id="language-select"
    name="language"
    class="language-select"
    onchange="handleLanguageChange(event)"
  >
    {
      getLocalePaths(Astro.url).map(({ path, lang }) => (
        <option
          label={LOCALES[lang].label}
          value={path}
          data-lang={lang}
          selected={lang === Astro.currentLocale}
        />
      ))
    }
  </select>
</div>

<script is:inline>
  function handleLanguageChange(event) {
    localStorage.selectedLang = event.target?.selectedOptions[0].dataset.lang
    location.href = event.target?.value
  }
</script>

<style>
  .language-select {
    background-color: rgb(0 139 179 / var(--tw-bg-opacity));
    color: white;
    border-radius: 3px;
    padding: 8px;
    font-weight: bold;
  }
</style>
