---
import Container from "@/components/shared/Container.astro"
import Paragraph from "@/components/shared/Paragraph.astro"
import { useTranslations, type Lang } from "@/i18n"

const t = useTranslations(Astro.currentLocale as Lang)
---

<div class="relative mt-16 bg-base-200 dark:bg-base-dark-800">
  <footer class="relative pt-28 rounded-t-3xl">
    <Container className="pb-8 relative overflow-auto">
      <div class="flex flex-col items-center text-center">
        <a href="#" class="flex items-center gap-3">
          <div class="inline-flex text-lg font-semibold text-heading-1">
            Resolve
          </div>
        </a>
        <Paragraph className="mt-8">
          {
            t({
              en: "We work in construction and renovations in the architectural, structural and installation fields.",
              pt: "Atuamos na construção e reformas nas áreas de arquitetura, estrutura e instalação.",
            })
          }
        </Paragraph>

        <div class="flex items-center gap-4 text-heading-3 mt-8">
          <!-- Teléfono -->
          <a href="tel:+554132393735" 
             style="text-decoration: none; color: inherit; display: flex; align-items: center; margin-bottom: 10px;">
            <i class="fas fa-phone" style="margin-right: 8px;"></i>
            Chama-nos
          </a>
        
          <!-- WhatsApp -->
          <a href="https://wa.me/5541995344541" 
             target="_blank" 
             style="text-decoration: none; color: inherit; display: flex; align-items: center;">
            <i class="fab fa-whatsapp" style="color: #25D366; margin-right: 8px;"></i>
            Whatsapp
          </a>
        
          <!-- Instagram -->
          <a href="https://www.instagram.com/resolvecuritibaofficial/" 
             target="_blank" 
             style="text-decoration: none; color: inherit; display: flex; align-items: center;">
            <i class="fab fa-instagram" style="color: #E4405F; margin-right: 8px;"></i>
            Síguenos en Instagram
          </a>
        </div>
        
      </div>
    </Container>

    <div class="py-2">
      <Container>
        <div
          class="flex flex-col items-center text-center gap-2 md:text-lg text-heading-3"
        >
          <div>
            &copy; <span id="year"></span> Resolve.
            {
              t({
                en: "All rights reserved.",
                pt: "Todos os direitos reservados.",
              })
            }
          </div>
          <div>
            {
              t({
                en: "Made by",
                pt: "Feito por",
              })
            }
            <a
              href="https://resolvewebsites.com.br/"
              target="_blank"
              class="font-semibold">Resolve Web Sites</a
            >
          </div>
        </div>
      </Container>
    </div>
  </footer>
</div>

<script>
  const yearElement = document.getElementById("year")

  if (yearElement) {
    yearElement.textContent = `${new Date().getFullYear()}`
  }
</script>
