---
import Container from "../components/shared/Container.astro";
import BtnLink from "../components/shared/BtnLink.astro";
import BtnThemeSwitch from "../components/shared/BtnThemeSwitch.astro";

// Obtener la URL completa
const url = new URL(Astro.request.url);
const locale = url.searchParams.get('lang') || 'en'; // Obtén el idioma de la URL

// Definir los elementos de navegación basados en el idioma
const navItems = [
  { href: "/newsite", text: locale === 'en' ? "Home" : "Início" },
  { href: "/newsite/about", text: locale === 'en' ? "About" : "Sobre nós" },
  { href: "/newsite#services", text: locale === 'en' ? "Services" : "Serviços" },
  { href: "/newsite#innovations", text: locale === 'en' ? "Innovations" : "Inovações" },
  { href: "/newsite#testimonials", text: locale === 'en' ? "Testimonials" : "Depoimentos" },
  { href: "/newsite#environment", text: locale === 'en' ? "Environment" : "Meio Ambiente" },
];
---

<header class="p-4 transition-colors duration-300 bg-primary-500 dark:bg-primary-800 text-gray-900 dark:text-white">
  <Container className="container mx-auto flex items-center justify-between">
    <!-- Logo -->
    <a href="/" class="flex-shrink-0 flex items-center">
      <!-- LOGO SVG -->
      <div class="h-8 w-auto flex-shrink-0 ">
        <span class="text-xl font-bold text-gray-800 dark:text-white text-2xl font-bold ml-2">Resolve</span>  
      </div>
    </a>

    <!-- Menú de Navegación (Escritorio) -->
    <nav class="hidden lg:flex items-center gap-6">
      <ul class="flex items-center gap-4">
        {navItems.map((item) => (
          <li>
            <a href={item.href} class="relative group">
              {item.text}
              <span class="absolute left-0 bottom-0 w-full h-0.5 bg-current transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
            </a>
          </li>
        ))}
      </ul>
      <!-- Menú de selección de idioma -->
      <ul class="flex items-center gap-4">
        <li>
          <a href="/?lang=en" class={`relative group ${locale === 'en' ? 'font-bold' : ''}`}>
            EN
            <span class="absolute left-0 bottom-0 w-full h-0.5 bg-current transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
          </a>
        </li>
        <li>
          <a href="/?lang=pt" class={`relative group ${locale === 'pt' ? 'font-bold' : ''}`}>
            PT(BR)
            <span class="absolute left-0 bottom-0 w-full h-0.5 bg-current transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
          </a>
        </li>
      </ul>
      
      <BtnLink
        text={locale === 'en' ? "Get Started" : "Começar"}
        href="#cta"
        className="text-lg"
        variant="cta"
      />
      <BtnThemeSwitch variant="primary" />
    </nav>

    <!-- Botón de menú para móviles -->
    <button
      data-toggle-nav
      aria-label="Toggle navigation"
      class="lg:hidden flex items-center justify-center p-2 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary"
    >
      <!-- Icono de menú hamburguesa -->
      <svg
        class="h-6 w-6 text-gray-800 dark:text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <!-- Icono de abierto -->
        <path
          data-open
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
        <!-- Icono de cerrado -->
        <path
          data-close
          class="hidden"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </Container>

  <!-- Menú desplegable para móviles -->
  <div
    data-navbar
    class="hidden lg:hidden bg-white dark:bg-custom-dark-bg shadow-md transition-all duration-300 ease-in-out"
  >
    <Container className="px-4 py-6 flex flex-col gap-4">
      <ul class="flex flex-col gap-3">
        {navItems.map((item) => (
          <li>
            <a href={item.href} class="relative group inline-block">
              {item.text}
              <span class="absolute left-0 bottom-0 w-full h-0.5 bg-current transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
            </a>
          </li>
        ))}
      </ul>
      <BtnLink
        text={locale === 'en' ? "Get Started" : "Começar"}
        href="#cta"
        className="text-lg w-full text-center"
        variant="cta"
      />
      <div class="flex justify-center">
        <BtnThemeSwitch variant="primary" />
      </div>
    </Container>
  </div>

</header>

<script>
  // This script will run on the client to handle theme changes
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  

  // Toggle mobile menu
  const navToggle = document.querySelector('[data-toggle-nav]');
  const navbar = document.querySelector('[data-navbar]');
  const openIcon = document.querySelector('[data-open]');
  const closeIcon = document.querySelector('[data-close]');

  if (navToggle && navbar && openIcon && closeIcon) {
    navToggle.addEventListener('click', () => {
      navbar.classList.toggle('hidden');
      openIcon.classList.toggle('hidden');
      closeIcon.classList.toggle('hidden');
    });
  }
</script>