---
// Importa los componentes y las utilidades necesarias
import Container from "../components/shared/Container.astro";
import Navitem from "../components/shared/Navitem.astro";
import BtnLink from "../components/shared/BtnLink.astro";
import BtnThemeSwitch from "../components/shared/BtnThemeSwitch.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

// Obtén la URL y el idioma actual
const url = new URL(Astro.request.url);
const locale = url.searchParams.get('lang') || 'en';
const lang = getLangFromUrl(url); // Usa la función para obtener el idioma

// Obtén las traducciones para el idioma actual
const t = useTranslations(lang);

// Definir elementos de navegación utilizando las traducciones
const navItems = [
  { href: "/newsite", text: t('nav.home') },
  { href: "/newsite/about", text: t('nav.about') },
  { href: "/newsite#services", text: t('nav.services') },
  { href: "/newsite#innovations", text: t('nav.innovations') },
  { href: "/newsite#testimonials", text: t('nav.testimonials') },
  { href: "/newsite#environment", text: t('nav.environment') },
];
---

<header class="absolute inset-x-0 top-0 z-50 py-6 px-6 lg:bg-primary-500 lg:dark:bg-primary-800 lg:text-white">
  <nav class="w-full flex justify-between gap-6 relative">
    <!-- Logo -->
    <div class="min-w-max inline-flex relative">
      <a href="/energy-template" class="relative flex items-center gap-3">
        <div class="relative h-7 overflow-hidden flex rounded-xl">
          <h3>RESOLVE</h3>
        </div>
      </a>
    </div>

    <!-- Navbar -->
    <div
      data-navbar
      class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-primary-500 dark:bg-primary-800 text-white border-x border-box-border lg:border-x-0"
    >
      <ul
        class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-white w-full lg:justify-end lg:items-center"
      >
        {navItems.map((item) => (
          <Navitem key={item.href} href={item.href} text={item.text} />
        ))}
      </ul>
      <!-- Selector de idioma -->
      <LanguageSwitcher />
    </div>

    <!-- Theme Switch y Toggle Button -->
    <div class="min-w-max flex items-center gap-x-3">
      <BtnThemeSwitch variant="primary" />

      <button
        data-toggle-nav
        data-open-nav="false"
        class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative"
      >
        <span class="w-6 h-0.5 rounded-full transition-all duration-300 ease-linear bg-black dark:bg-white"></span>
        <span class="w-6 origin-center mt-1 h-0.5 rounded-full transition-all duration-300 ease-linear bg-black dark:bg-white"></span>
        <span class="w-6 mt-1 h-0.5 rounded-full transition-all duration-300 ease-linear bg-black dark:bg-white"></span>
        <span class="sr-only">Toggle Navigation</span>
      </button>
    </div>
  </nav>
</header>
